%h2 Hello World
%p
  Using Rails Version:
  = Rails.version
  %br
  Using Ruby Version:
  = RUBY_VERSION
  %br
  Page loaded on
  = day = Date.current.day.ordinalize
  = Time.current.strftime("%A %B #{day}, %Y at %l:%M%P")